<!DOCTYPE html>
<html>
<head>
	<title>Logo Detector</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"> -->
</head>
<body style="background-color:rgb(50, 200, 220);"> 

	<header>
		<div class="container">
		    <div id="brandname"> Logo detector using Flicker 27 logo dataset </div>
		    <h1 style="font-size:25px;font-family:verdana;text-align:center;">Logo Detector</h1>
            <hr>
	    </div>
	</header>
	<div style="text-align: center; border: 1px solid">
        <div>
            <h2 style="font-size:20px;font-family:verdana;text-align:center;">Can detect logos of </h2>
            <p style="font-size:15px;font-family:verdana;text-align:center;">
                Adidas, Apple, BMW, Citroen, Coca Cola, DHL,
                Fedex, Ferrari, Ford, Google, Heineken, HP, 
                McDonalds, Mini, Nbc, Nike, Pepsi, Porsche,
                Puma, Red Bull, Sprite, Starbucks, Intel, 
                Texaco, Unisef, Vodafone and Yahoo. </p>
            <h3 style="font-size:20px;font-family:verdana;text-align:center;">To detect logo: </h3>
            <p style="font-size:20px;font-family:verdana;text-align:center;">  
                Provide image path  : /imageurl/file_path 
            <p style="font-size:15px;font-family:verdana;text-align:center;">
                **Provide cropped image of logo for best results</p>
            </p>  
        </div>    
		
	</div>
    <hr>

	

</body>
</html>